.{
	margin: 10;
	padding: 100;
}
#para1{
	text-align: left;
	position: absolute;
	margin-top: 150px;
	width: 900px;
	text-transform: uppercase;
	
	font-size: 20px;
	font-family: consolas;
	color: grey;
	
	text-shadow: currentColor;
	
}
#link{
	float: left;
	margin-top: 30px;
	list-style: none;
	display: inline-block;

}
#link li {
	display: inline-block;
}
#link li a{
	color:grey;
	text-decoration: none;
	padding:5px 20px;
	font-family: sans-serif;
	font-size: 20px;
}
#home a{
	border: 1px solid grey;
	background-color: white;
}
#link li a:hover{
	color: white;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
#feedback{
	color: grey;
	margin-top: 100px;
	margin-left: 40px;
	position: absolute;
}
#feed{
	margin-top: 300px;
	text-align: left;
	position: absolute;
	width: 900px;
	text-transform: uppercase;
	
	font-size: 20px;
	font-family: consolas;
	color: grey;
	
	text-shadow: currentColor;
}

	

.sub a{
	font-family: consolas;
	position: relative;
	display: inline-block;
	padding: 10px 25px;
	color: grey;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 20px;
	overflow: hidden;
	transition: 0.2s;
	margin-top: 260px;
	margin-left: 175px;

}
.sub a:hover{
	color: white;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
#ftt img{
	size:cover;
	margin-top: -85px;
	margin-left: 1050px;
	position: center;
}

header {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('WhatsApp Image 2020-02-03 at 21.49.36.jpeg');
	height: 100vh;
	position: center;
	background-size: cover;
}
